In [15]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# create linear dataset 
rand_pts = np.random.normal(-5,5, size=(100,))

df_martians = pd.DataFrame()

df_martians['height'] = np.arange(100)
df_martians['weight'] = df_martians['height'] + rand_pts + 20

df_martians.head()

   height     weight
0       0  15.084616
1       1  19.595992
2       2  18.019723
3       3  17.145917
4       4  21.610114

In [17]:
# plot data
sns.scatterplot(x='height', y='weight',data = df_martians)
# pf = np.polynomial.polynomial.polyfit(x=df_martians['height'], y=df_martians['weight'],deg=1)
# # pf = np.polyfit(x=df_martians['height'], y=df_martians['weight'],deg=1)
# p = np.poly1d(pf)

plt.show()

/home/warner/.local/lib/python3.8/site-packages/mpl_toolkits/mplot3d/art3d.py:761: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if zdir == 'x':
/home/warner/.local/lib/python3.8/site-packages/mpl_toolkits/mplot3d/art3d.py:763: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  elif zdir == 'y':
/home/warner/.local/lib/python3.8/site-packages/mpl_toolkits/mplot3d/art3d.py:765: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  elif zdir[0] == '-':

In [18]:
# Normalize the df
#https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame

normalized_df=(df_martians-df_martians.mean())/(df_martians.max()-df_martians.min())

normalized_df

      height    weight
0  -0.500000 -0.496327
1  -0.489899 -0.451101
2  -0.479798 -0.466903
3  -0.469697 -0.475663
4  -0.459596 -0.430909
..       ...       ...
95  0.459596  0.466803
96  0.469697  0.366366
97  0.479798  0.435333
98  0.489899  0.446281
99  0.500000  0.413307

[100 rows x 2 columns]

In [19]:
def run_hypothesis(x,theta0, theta1):
    "hypothesis(x)= theta0 + theta1*x "
    
    # returns an array
    return theta0 + theta1*x

In [20]:
def cost_function(y_pred,y):
    
    cost = (1/(2*len(y_pred)))*sum((y_pred -y)**2)
    
    return cost

In [21]:
def gradient_descent(theta, m, alpha,y_pred, y,x):
    
    new_theta = theta - alpha*(1/m)* (sum((y_pred - y)*x))
    
    return new_theta

In [22]:
xs = []
ys = []
zs = []

for i in range(500):
    
    t0 = np.random.uniform(-5,5) # random value form -1 to 1
    t1 = np.random.uniform(-5,5)
    
    y_preds = run_hypothesis(normalized_df['height'],t0, t1)
    
    cost = cost_function(y_preds,normalized_df['weight'])
    
    xs.append(t0)
    ys.append(t1)
    zs.append(cost)

In [23]:
%matplotlib widget
# interactive 3D plot 
# https://stackoverflow.com/questions/50149562/jupyterlab-interactive-plot
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# xs =[1,2,3,4,5,6,7,8,9,10]
# ys =[5,6,2,3,13,4,1,2,4,8]
# zs =[2,3,3,3,5,7,9,11,9,10]

# xt =[-1,-2,-3,-4,-5,-6,-7,8,-9,-10]
# yt =[-5,-6,-2,-3,-13,-4,-1,2,-4,-8]
# zt =[-2,-3,-3,-3,-5,-7,9,-11,-9,-10]

ax.scatter(xs, ys, zs, c='r', marker='o')


ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [25]:
t0 = -4 #np.random.uniform(-1,1) # random value form -1 to 1
t1 = -4 #np.random.uniform(-1,1)

gd_x = []
gd_y = []
gd_z = []

for i in range(100):
    
    y_preds = run_hypothesis(normalized_df['height'],t0, t1)
    
    cost = cost_function(y_preds,normalized_df['weight'])
    
    t0 = gradient_descent(t0,len(y_preds),0.5,y_preds,normalized_df['weight'],1)
    t1 = gradient_descent(t1,len(y_preds),0.5,y_preds,normalized_df['weight'],normalized_df['height'])
    
    gd_x.append(t0)
    gd_y.append(t1)
    gd_z.append(cost)

In [26]:
%matplotlib widget
# interactive 3D plot 
# https://stackoverflow.com/questions/50149562/jupyterlab-interactive-plot
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# xs =[1,2,3,4,5,6,7,8,9,10]
# ys =[5,6,2,3,13,4,1,2,4,8]
# zs =[2,3,3,3,5,7,9,11,9,10]

# xt =[-1,-2,-3,-4,-5,-6,-7,8,-9,-10]
# yt =[-5,-6,-2,-3,-13,-4,-1,2,-4,-8]
# zt =[-2,-3,-3,-3,-5,-7,9,-11,-9,-10]

ax.scatter(xs, ys, zs, c='r', marker='o')
ax.scatter(gd_x, gd_y, gd_z, c='b', marker='^')

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [12]:
plt.show()

In [13]:
print(t0,t1)

-2.7909814489745793e-17 0.8363472050465087

In [14]:
t1 * max(df_martians['height'])

82.79837329960436